@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600&family=Josefin+Sans:wght@100;200;300;400;500;600&family=Lora:ital,wght@1,400;1,500;1,600&family=Varela&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #E1C9EE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%236087FF'/%3E%3Cstop offset='1' stop-color='%23E1C9EE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23a1a8f7'/%3E%3Cstop offset='1' stop-color='%23E1C9EE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform='translate(0 795)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-57.6 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.25' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ========= ReUSABLE elements ======== */
.btn {
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 7px;
    background-color: rgb(227, 58, 114);
    font-size: 1.1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #879bf5;
    border: 1px dashed rgb(168, 42, 84);
    animation: wiggle 1.5s infinite;
}


/* ==========  the introduction page ========== */
#introduction-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-page-btn {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
}

#introduction-page h1 {
    font-size: 3.5rem;
}

#flying-bee {
    width: 200px;
    position: absolute;
    top: 15%;
    -webkit-animation: wiggle 1s infinite;
}




/* ========  Name Page ======== */
#name-page {
    font-family: 'Dosis', serif;
    font-weight: 600;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

#name-page input {
    font-family: 'Dosis', serif;
    width: 300px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color:#4361ee;
    color: white;
    margin-bottom: 25px;
}

#name-page input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

*:focus {
    outline: none;
}

#name-page h1 {
    font-size: 3.5rem;
}





/* ======== Avatar Page ====== */
#avatar-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-profile-select {
    color: #4361ee;
}

#user-profile-select h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0;
}

#user-avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}


#avatar-page ul {
    width: 600px;
    max-width: 90vw;
    height: 120px;
    display: flex;
    overflow-x: scroll;
    margin: 15px 0;
    padding: 0;
    border-radius: 75px;
}

#avatar-page li {
    list-style: none;
    margin: 10px;
    padding: 0;
}

#avatar-page li img {
    width: 100px;
    transition: 0.4s all;
    border-radius: 50%;
}

#avatar-page li img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#avatar-page li img:active {
    box-shadow: 0 0 3px 5px white;
    transition: 0.1s;
}


/* hide the radio buttons */
#avatar-page [type=radio] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

#avatar-page [type=radio]:checked + img {
    outline: 4px solid white;
    transform: scale(1.1);
}


.back-btn {
    color:rgb(101, 21, 48);
    background-color: #E1C9EE;
}

/* Instructions Page */
#instructions {
    width: 500px;
    max-width: 98vw;
    height: 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(242, 51, 114);
    border-radius: 25px;
    background-color: #4361ee;
    color: white;
    z-index: 0;
}

#instructions-next {
    margin-top: 15px;
}

.instructions img {
    width: 200px;
    border-radius: 8px;
}







 /* ======== the game page ========= */
#game-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#game-page>div {
    height: 33%;
}



.dropzone {
    background-color: rgb(227, 58, 114);
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: rgb(101, 21, 48);
}

.drop-target {
    background-color: rgb(242, 51, 114);
    border-color: rgb(242, 51, 114);
    border-style: solid;
}

.start-letters {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.drop-area-div, .start-letters, .picture-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.drag-drop {
    display: inline-block;
    color: #fff;
    background-color: #4361ee;
    touch-action: none;
    transform: translate(0px, 0px);
    width: 90px;
    height: 90px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 15px;
    transition: background-color 0.3s;
}

/* .drag-drop.can-drop {
color: #000;
background-color: #90be6d;
} */



.drop-here {
    display: flex;
    z-index: -1;
}

.letter-zone {
    margin-left: 15px;
    width: 100px;
    height: 100px;
    z-index: -1;
    color: transparent;
}

.correct-bg {
    background-color: #4361ee;
}

.incorrect-bg {
    background-color: rgb(255, 89, 89);
}





#animated-pic {
    position: absolute;
    width: 150px;
    /* animation: moveUpNDown 3s infinite ease-in-out; */
}

@keyframes moveUpNDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}


.congrats-page {
    width: 300px;
    /* display: none; */
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(227, 58, 114);
    background-color: #4361ee;
    border-radius: 8px;
    color: #E1C9EE;
    position: absolute;
}

.scores {
    display: flex;
}

.scores h3 {
    margin-left: 15px;
}

#next-word {
    width: 100px;
    margin: 15px;
    animation: wiggle 1.5s infinite;
}


@keyframes wiggle {
    1% {transform: rotate(-2deg)}
    4% {transform: rotate(5deg)}
    6% {transform: rotate(-2deg)}
    8% {transform: rotate(2deg)}
    10% {transform: rotate(-2deg)}
    12% {transform: rotate(2deg)}
    14% {transform: rotate(-2deg)}
    16% {transform: rotate(2deg)}
    18% {transform: rotate(-5deg)}
    20% {transform: rotate(2deg)}
    22% {transform: rotate(-2deg)}
    24% {transform: rotate(2deg)}
    26% {transform: rotate(0deg)}
}




/* ============ Player Profile Stuff ========== */
.background-fade {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

#player-profile {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    flex-direction: column;
    z-index: 10;
    background-color: rgb(235, 116, 251);
    height: 100vh;
    transition: 0.1s all linear;;

    /* change this back */
    width: 0;
    overflow: hidden;
}

.profile-name {
    font-size: 1.5rem;
}

#closePPBtn {
    z-index: 1;
    position: absolute;
    font-size: 4.5rem;
    color: #5443ee;
    top: -1rem;
    left: 1rem;
    margin: 0;
}

#closePPBtn:hover {
    cursor: pointer;
    color: #fff;
}

#small-player-pic {
    display: relative;
    position: fixed;
    width: 75px;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
}

#medium-player-pic {
    border-radius: 50%;
    width: 200px;
    margin-left: calc(50% - 100px);
    cursor:pointer
}

#medium-player-pic:hover {
    outline: 2px solid white;
}

#small-player-pic:hover {
    cursor: pointer;
}

#stars-ul, #super-stars-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#stars-ul {
    font-size: 1.5rem;
    color: gold;
}

#super-stars-ul {
    font-size: 3rem;
    color: #4361ee;
}
#super-stars-ul li {
    margin-right: 0.2rem;
}

#word-list {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#word-list>li {
    padding-left: 10px;
}

/* this is added on profile update */
.new-name-textbox {
    width: 70%;
    height: fit-content;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
}

.about-me-textbox {
    width: 100%;
    height: calc(1em * 1.5 * 6);
    background-color: white;
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

#about-me-div>div {
    display: flex;
    align-items: center;
}

#about-me-btn {
    border: none;
    margin-left: 15px;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    transition: 0.2s all;
    cursor: pointer;
} 
#about-me-btn:hover {
    color: white;
    background-color: #5443ee;
}





/* ------ hide stuff here ------ */
/* #name-page
#avatar-page
#game-page
#instructions */

#avatar-page, .congrats-page, #instructions, #game-page, #name-page, #small-player-pic {
    display: none;
}





.invisible {
    opacity: 0;
    transition: all 0.8s;
}
.visible {
    opacity: 1;
    transition: all 0.8s;
}










/* ======== CONFETTI! ======= */
.confetti{
    z-index: -10;
    position: absolute;
    height: 5px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
    /* user-select: none; */
 }
